


.contenedorMedicion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.medicion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: white;
    
}

#miBoton{
    background-color: white;
    border-radius: 100px;
    padding: 10px;
    margin: 20px;
   
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #333333;
    border: 5px solid #333333;

    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;

    transition: transform 0.3s; /* Agrega una transición suave */

}

#miBoton:hover{
    
    
    cursor: pointer;

    transform: rotate(180deg); /* Rota el botón 45 grados al hacer hover */

}

.medicion_a{
    background-color: #333333;
    border-radius: 100px;
    padding: 10px;
    margin: 20px;
    width: 90%;
    height: 90%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    border: 1px solid white;
    
   

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}








p{
    
    align-self: center;
    font-size: 20px;
}


.icono{
    background-color: #333333;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    width: 125px;
    height: 125px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}




.texto{
    background-color: #333333;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 90%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-right: 200px
}

#textoOzono{
    
    width: 150px;
    background-color: #333333;
    color: white;
    border: 5px solid #333333;
    margin: 0%;
   
}

#medicionOzono{
    background-color: #333333;
    width: 300px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#iconoOzono{
    background-color: #333333;
    color: white;
    border: 5px solid white;
}